* {
  margin: 0;
  padding: 0;
}
/* Font Style  */
.azeret-mono {
  font-family: Azeret Mono;
  font-weight: 800;
}
/* Hero Section CSS */
.hero-section {
  max-width: 1440px;
  /* max-width: 100%; */
  height: 652px;
  background-image: url("../images/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 26px;
}

.hero-container {
  width: 998px;
  height: 582px;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 44px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}

.hero-container p {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
}
.hero-btn {
  padding: 21px 24px;
  color: white;
  font-family: "Azeret Mono";
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background: rgb(13, 19, 33);
  border-radius: 8px;
  margin-top: 32px;
}
/* Shared Section */
.text-center {
  text-align: center;
}
/* Web development section */
.web-development-container {
  max-width: 1140px;
  height: 1300px;
  margin: 0 auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin-top: 74px;
}

.web-development-content {
  padding: 40px 97px 0px 97px;
  margin: 0 auto;
}

.web-title {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 32px;
  font-weight: 800;
}
.web-desc {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}

/* Coding content section */
.coding-container{
  margin:  0 auto;

}

.coding-content {
  width: 946px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  gap: 100px;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient( 90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
  margin-top: 32px;
}

.coding-content h3 {
  color: rgba(13, 19, 33, 0.7);
  font-family: "Azeret Mono";
  font-size: 24px;
  font-weight: 700;
}

.coding-content p {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 32px;
}

.coding-content span {
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
 
}
