* {
  margin: 0;
  padding: 0;
}
/* Font Style  */
.azeret-mono {
  font-family: Azeret Mono;
  font-weight: 800;
}
/* Hero Section CSS */
.hero-section {
  max-width: 1440px;
  /* max-width: 100%; */
  height: 652px;
  background-image: url("../images/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 26px;
}

.hero-container {
  width: 998px;
  height: 582px;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 44px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}

.hero-container p {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
  opacity: 0.7;
}
.hero-btn {
  padding: 21px 24px;
  color: white;
  font-family: "Azeret Mono";
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background: rgb(13, 19, 33);
  border-radius: 8px;
  margin-top: 32px;
  cursor: pointer;
}
/* Shared Section */
.text-center {
  text-align: center;
}
/* Web development section */
.web-development-container {
  max-width: 1140px;
  height: 1300px;
  margin: 0 auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin-top: 74px;
}

.web-development-content {
  padding: 40px 97px 0px 97px;
  margin: 0 auto;
}
.web-development-content p {
  opacity: 0.7;
}

.web-title {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 32px;
  font-weight: 800;
}
.web-desc {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}

/* Coding content section */
.coding-container {
  margin: 0 auto;
}

.coding-content {
  width: 946px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  gap: 100px;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin-top: 32px;
}

.coding-content h3 {
  color: rgba(13, 19, 33, 0.7);
  font-family: "Azeret Mono";
  font-size: 24px;
  font-weight: 700;
}

.coding-content p {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 32px;
  opacity: 0.7;
}

.coding-content span {
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  cursor: pointer;
}

/* Inspiration  section CSS */
.inspiration {
  max-width: 1140px;
  height: 775px;
  margin: 0 auto;
  margin-top: 80px;
}

.inspiration h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
}

.inspiration p {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  opacity: 0.7;
}

.inspiration-video {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin-top: 40px;
}
iframe {
  width: 1076px;
  height: 550px;
  padding: 32px;
  border-radius: 16px;
}

/* Target Section CSS */
.target-section {
  max-width: 1140px;
  height: 463px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 150px;
}

.target-container {
  width: 100%;
  height: 100%;
  margin-top: 48px;
  display: flex;
  gap: 24px;
}
.target-section h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
}

.target-section p {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  opacity: 0.7;
  margin-bottom: 24px;
}
.target {
  padding: 40px;
  border-radius: 16px;
}
.span-target {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-decoration-line: underline;
  cursor: pointer;
}
.target-box-1 {
  background-color: rgba(255, 76, 30, 0.05);
}
.target-box-2 {
  background-color: rgba(0, 76, 232, 0.05);
}
.target-box-3 {
  background-color: rgba(255, 223, 0, 0.05);
}

/* Support section CSS */

.support {
    max-width: 1140px;
    height: 314px;
    margin: 0 auto;
    margin-top: 14px;
    background-image: url("../images/handshake.jpg");
    padding: 64px 5px 64px 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-position: cover;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.support-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
}

.support h1 {
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 700;
    margin: 16px 0px;
}

.support p {
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

input {
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    font-size: 16px;
    font-weight: 400;
}
.support-input-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 32px;
}

.support-btn{
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 20px;
    font-weight: 600;
}

/* Footer Section */

footer{
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 150px 32px 150px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03); 
  margin:  0 auto;
  margin-top: 80px;
}

.footer-contact{
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 20px;
  font-weight: 600;
    margin: 0px -60px;
}